@model HomeProductDetailsViewModel

@{
    Layout = "_Layout";
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    ViewBag.Title = "Product Details";
    var photoPath = "~/images/" + (Model.Product.PhotoPath ?? "productImage.png");
}

<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card bg-dark">
            <div class="card-header text-center text-white">
                <h1>@Model.Product.ProductName</h1>
            </div>

            <div class="card-body text-center text-white">
                <img class="card-img-top" src="@photoPath" asp-append-version="true" />

                <h4>Product ID: @Model.Product.Id</h4>
                <h4>ProductCount: @Model.Product.ProductCount</h4>


            </div>
            <div class="card-footer text-center">
                <a asp-action="editproduct" asp-controller="home" asp-route-id="@Model.Product.Id" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>